body {

font-family: var(--font-family-montserrat);
font-size: var(--regular-text);
background-color: var(--app-background-color);
color: var(--primary-text-color);

}
.panel{
border-radius: var(--border-radius-day);
background-color: var(--panel-background-color);

}